*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    
}
.header{
    position: fixed;
    width: 100%;
    background-color: white;
     box-shadow: 0px 8px 6px -6px #ccc;
     -webkit-box-shadow:  0px 8px 6px -6px#ccc;
     -moz-box-shadow: 0px 8px 6px -6px#ccc;
     
 }
 #flex{
    display: flex;
    justify-content: space-between;
}
#logo img{
    width: 6em;
        height: 4em;
      
}
#other nav ul li{
   display: inline-block;
   padding: 0px 20px;

}
#other nav ul li a i{
   margin-right: 8px;
   }
#other nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
#other nav ul li a:hover{
   color: rgb(0, 174, 238);
}
#other nav ul li a.active{
  color: rgb(0, 174, 238);
}
section{
    color: white;
    padding-top: 20vh;
    padding-bottom: 20vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/peejay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
   
}
section h1{
    font-size: 70px;
    color: rgb(0, 174, 238);
}
section p{
    font-size: 20px;
    line-height: 1.5;
}
section h2{
    margin-top: -45px;
}


#header{
    position: fixed;
    width: 100%;
    background-color: white;
     box-shadow: 0px 8px 6px -6px #ccc;
     -webkit-box-shadow:  0px 8px 6px -6px#ccc;
     -moz-box-shadow: 0px 8px 6px -6px#ccc;
     display: none;
 }
 .flex{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 6em;
        height: 4em;
      
}
.other nav ul li{
   display: inline-block;
}

.dropdown{
    position: relative;
    padding: 20px 18px;
    cursor: pointer;
    font-size: 20px;
}
#drop-content{
  justify-content: center;
    position: absolute;
    z-index: 1;
    background: white;
    width: 165%;
    margin-left: -70px;
    box-shadow: 2px 7px 1px 1px rgba(0, 0, 0, 0.527);
   display: none;
}
#drop-content li{
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding: 20px 5px;

}
#drop-content li a{
    text-decoration: none;
   color: black;
    transition: 1s all;
    
}
#drop-content li a:hover{
    color: rgb(0, 174, 238);
    transition: 1s all;
}
#drop-content li a i{
    margin-right: 10px;
}
#drop-content li a.active{
    color: rgb(0, 174, 238);
  }
  hr{
    width: 120px;
    margin-top: 50px;
    border: ridge black;
    
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: -30px auto;
    width: 85%;
    background-color: white;
    box-shadow: 5px 6px 50px 6px rgba(0, 0, 0, 0.15);
    padding-top: 50px;
}
.gallery-container{
    width: 30%;
    color: black;
    margin: 15px;
    box-shadow: 2px 5px 1px 2px rgba(0, 0, 0, 0.034);
}
.gallery-container img{
   width: 100%;
   height: 400;
  
}
@media only screen and (max-width: 760px){
    #header{
        display: block;
    }
    .header{
        display: none;
    }
    #gallery{
        width: 95%;
    }
    .gallery-container {
        width: 100%;
    }
    .gallery-container img{
       
        height: 350;
       
     }
}
@media only screen and (width: 768px){
    .gallery-container{
        width: 40%;
    }
    .gallery-container img{
       width: 100%;
       height: 350;
      
    }
}
